/* カードコンポーネントのスタイル */
.card {
  /* 角丸を設定 */
  border-radius: 8px;
  /* コンテンツがはみ出した場合は非表示にする */
  overflow: hidden;
  /* 要素の周りに境界線を引きます。

  - 太さ: 太い
  - スタイル: 二重線
  - 色: #32a1ce (青緑色) */
  border: thick double #32a1ce;
}

/* カード画像のスタイル */
.card-image {
  /* 幅を100%に設定 */
  width: 100%;
  /* 高さを192pxに設定 */
  height: 192px;
  /* 画像がアスペクト比を維持しながら収まるようにする */
  object-fit: cover;
}

/* カードコンテンツのスタイル */
.card-content {
  /* パディングを8pxに設定 */
  padding: 8px;
}

/* カードタイトルのスタイル */
.card-title {
  /* 上下の余白をゼロに設定 */
  margin: 0;
  /* フォントサイズを1.125remに設定 */
  font-size: 1.125rem;
  /* フォントの太さを600に設定 */
  font-weight: 600;
}

/* カード説明のスタイル */
.card-description {
  /* フォントサイズを0.875remに設定 */
  font-size: 0.875rem;
}

/* カードフッターのスタイル */
.card-footer {
  /* Flexboxレイアウトを使用 */
  display: flex;
  /* 水平方向の子要素を両端に配置 */
  justify-content: space-between;
  /* 垂直方向の子要素を中央に配置 */
  align-items: center;
  /* 左と下の余白を8pxに設定 */
  margin: 0 0 8px 8px;
}

/* 所属のスタイル */
.affiliation {
  /* フォントサイズを0.875remに設定 */
  font-size: 0.875rem;
  /* フォントの太さを500に設定 */
  font-weight: 500;
}

/* 画面幅が768px以下の場合のスタイル */
@media (max-width: 768px) {
  /* カードコンテナのスタイル */
  .cards-container {
    /* グリッドレイアウトを2列に設定 */
    grid-template-columns: 2fr;
  }

  /* カード画像のスタイル */
  .card-image {
    /* 高さを150pxに設定 */
    height: 150px;
  }

  /* カードタイトルのスタイル */
  .card-title {
    /* フォントサイズを1remに設定 */
    font-size: 1rem;
  }

  /* カード説明とアフィリエーションのスタイル */
  .card-description,
  .affiliation {
    /* フォントサイズを0.75remに設定 */
    font-size: 0.75rem;
  }
}