.container {
  padding-top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #bce2e8;
}

.header-content {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.logo {
  margin-right: 16px;
  width: 100px;
  height: 50px;
}

main {
  margin-top: 16px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer-text {
  font-size: 0.75rem;
  text-align: center;
  color: #718096;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

}
